<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
</head>
<body>
    <form action="" method="post"> 
        <h2> Informacion del paciente </h2>
        <label for="cedula">Cedula</label>
        <input type="text" name="cedula" id="cedula" >
        <br><br>

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" >
        <br><br>

        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" > 
        <br><br>

        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" >
        <br><br>

        <label for="tipo_de_sangre">Tipo de sangre </label>
        <input type="text" name="tipo_de_sangre" id="tipo_de_sangre" > 
        <br><br>
        
        <label for="alergia">Alergia</label>
        <input type="text" name="alergia" id="alergia" > 
        <br><br>

        <label for="seguro_medico">Seguro medico</label>
        <input type="text" name="seguro_medico" id="seguro_medico" > 
        <br><br>

        <h2> Informacion del contacto de emergencia </h2>
        <label for="contacto_nombre">Nombre y apellido </label>
        <input type="text" name="contacto_nombre" id="contacto_nombre" > 
        <br><br>

        <label for="contacto_telefono">Numero de telefono</label>
        <input type="number" name="contacto_telefono" id="contacto_telefono" > 
        <br><br>

        <label for="contacto_parentesco">Parentesco</label>
        <input type="text" name="contacto_parentesco" id="contacto_parentesco" > 
        <br><br>
        
        <input type="submit" value="Registrarse">
    </form>
</body>
</html>